#app-to-do-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#app-to-do-list li{
	font-size: 18px;
	padding: 12px 8px 12px 40px;
	background-color: #eee;
	transition: 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

#app-to-do-list li:hover {
	background-color: #ddd !important;
}

#app-to-do-list li:nth-child(odd) {
	background-color: #f9f9f9;
}

.trailing-close {
	font-size: 25px;
	width: 8%;
	height: 100%;
	text-align: center;
	right: 0;	
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trailing-close:hover {
	background-color: #f44336;
	color: white;
}
