#app-to-do-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#app-to-do-list li{
	font-size: 18px;
	padding: 12px 8px 12px 40px;
	background-color: #eee;
	transition: 0.2s;
	cursor: pointer;
}

#app-to-do-list li:hover {
	background-color: #ddd !important;
}

#app-to-do-list li:nth-child(odd) {
	background-color: #f9f9f9;
}
